{% extends "/security/base.html" %}
{% block title %}Forms{% endblock %}
{% block main_title %}Edit Form{% endblock %}

{% block content %}
    <!--Header Page-->
    <div class="container">
        <h1>Welcome {{user.name}}</h1>
        <h4>This is the form: <b>{{form.name}}</b>. </h4>
        <h6>{{form.description}}</h6>
        <a href="/form/{{form.id}}/editMainInfo">
            <button type="button" class="btn btn-green">EDIT FORM INFO</button>
        </a><br><br>
        <h4>Here the questions:</h4>
    </div>

    <div class="container">
        <!--For all the question in the form:
                                    -element in ol: name question + EDIT + DELETE
                                    -if current question is sinlge/multiple:
                                            -sublist ul in wich each element is a possible answers
            At the end: ADD QUESTION-->
        <ol>
        {% for q, m in questions %}
            <li>
                <form name="form_edit" method="POST">
                    {{q.text}}{%if m.mandatory %}*{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/form/{{form.id}}/{{q.id}}">
                        <button type="button" class="btn btn-green">EDIT QUESTION</button>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <!-- Hidden form to send the id question when clicking on DELETE-->
                    <input type="hidden" name="question" value="{{q.id}}">
                    <input type="submit" value="DELETE" name="delete_button" class="btn btn-danger">
                    {% if q.open %}
                        {%for tmp in q.open%}
                            <br>
                            <!-- TODO MODIFICARE --><form id="allows_file_form" style="padding: 2rem" method="POST" action="/form/{{form.id}}/{{q.id}}/flag">
                                <label class="form-check-label">Allows file </label>
                                <input class="form-check-inline" type="checkbox" name="checkBox_file"
                                       onclick="document.getElementById('allows_file_form').submit()"
                                       {%if tmp.has_file%} checked {%endif%}/>
                            </form>
                        {%endfor%}
                    {%endif%}
                </form>
            </li>
            {% if q.single %}
                {% for q1 in q.single%}
                    <ul>
                    {% for a in q1.possible_answers%}
                        <li >{{a.content}}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}

            {% elif q.multiple_choice %}
                {% for q1 in q.multiple_choice%}
                    <ul type="square">
                    {% for a in q1.possible_answers%}
                        <li >{{a.content}}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

            <br>

        {% endfor %}
        </ol>

        <a href="/form/{{form.id}}/add_question"><button type="button" class="btn btn-primary">ADD QUESTION</button></a>

        <br><br><br><br>
    </div>

    <!-- TODO Togliere
    <script>
        function set_allows_file_js(elem, q_id){
            if (elem.checked) {
                console.log(q_id + " " + elem.checked)
                //location.reload()
            } else {
                console.log(q_id + " " + elem.checked)
                //location.reload()
            }
        }
    </script>-->
{% endblock %}