{% extends "/security/base.html" %}
{% block title %}Forms{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome {{user.name}}</h1>
        <h4>This is the form: <b>{{form.name}}</b>. </h4>
        <h6>{{form.description}}</h6>
        <h4>Here the questions:</h4><br>
    </div>

    <div class="container">
        <ol>
        {% for q in questions %}
            <li>{{q.text}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/form/{{form.id}}/{{q.id}}"><button type="button" class="btn btn-primary">EDIT QUESTION</button></a></li><br>
            {% if q.single %}
                {% for q1 in q.single%}
                    <br>
                    <ul>
                    {% for a in q1.possible_answers%}
                        <li >{{a.content}}</li>
                    {% endfor %}
                    </ul>
                    <br>
                {% endfor %}
            {% elif q.multiple_choice %}
                {% for q1 in q.multiple_choice%}
                    <br>
                    <ul type="square">
                    {% for a in q1.possible_answers%}
                        <li >{{a.content}}</li>
                    {% endfor %}
                    </ul>
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ol>

        <a href="/form/{{form.id}}/add_question"><button type="button" class="btn btn-primary">ADD QUESTION</button></a>
        <br><br><br><br>

    </div>
{% endblock %}