{% extends "/security/base.html" %}
{% block title %}Forms Answers{% endblock %}

{% block content %}
    <form name="import_choose" action="#" method="POST" >
        <div class="container">
            {%if edit%}
                <span id="mostra domanda corrente"></span>
                <script>
                    var id_q={{q.id}};
                    {% for q in questions %}
                        if({{q.id}} == id_q){
                            document.getElementById('mostra domanda corrente').innerHTML = '<p><b>The current question is:</b>' +
                            '          <br>{{q.text}}</p>\n'+
                            '            {% if q.single %}\n' +
                            '                {% for q1 in q.single%}\n'+
                            '                    <ul>\n' +
                            '                    {% for a in q1.possible_answers%}\n' +
                            '                        <li >{{a.content}}</li>\n' +
                            '                    {% endfor %}\n' +
                            '                    </ul>\n' +
                            '                {% endfor %}\n' +
                            '            {% elif q.multiple_choice %}\n' +
                            '                {% for q1 in q.multiple_choice%}\n' +
                            '                    <ul type="square">\n' +
                            '                    {% for a in q1.possible_answers%}\n' +
                            '                        <li >{{a.content}}</li>\n' +
                            '                    {% endfor %}\n' +
                            '                    </ul>\n' +
                            '                {% endfor %}\n' +
                            '            {% endif %}\n' +
                            '<br>';
                        }
                {% endfor %}
                </script>

            {%endif%}
            {% if not edit or q.open%}
                <h3>Would you like to import some existing questions?</h3>
                <label>
                    <select name="choose" onChange="seleziona_tag(this)">
                        <option value="" selected> </option>
                        <option value="si">Yes</option>
                        <option value="no">No</option>
                    </select>
                </label>
            {% elif q.multiple_choice or q.single %}
                <h3>What would you like to change?</h3>
                <label>
                    <select name="change" onChange="check(this)">
                        <option value="" selected> </option>
                        <option value="question">Question</option>
                        <option value="possible_a">Possible Answers</option>
                    </select>
                </label>
            {% endif %}
            <span id="modifica">

            </span>
            <span id="seleziona tag">

            </span>
            <span id="nuovo tag">

            </span>
            <span id ="seleziona tipo di domanda">

            </span>
            <span id="inserisci domanda">

            </span>
            <span id ="mostra domanda">

            </span>
            <span id="inserisci possibili risposte">

            </span>
            <span id="submit">

            </span>
        </div>
    </form>
    	<script type='text/javascript'>
            var v_choose = null;
            function check(c) {
                v_c = c.value;
                var box = document.getElementById('modifica');
                var box2 = document.getElementById('nuovo tag');
                var box3 = document.getElementById('seleziona tipo di domanda');
                var box4 = document.getElementById('inserisci domanda');
                var box5 = document.getElementById('mostra domanda');
                var box6 = document.getElementById('inserisci possibili risposte');
                var box7 = document.getElementById('submit');
                box2.innerHTML = '';
                box3.innerHTML = '';
                box4.innerHTML = '';
                box5.innerHTML = '';
                box6.innerHTML = '';
                box7.innerHTML = '';

                if (v_c === "question") {
                    box.innerHTML = '<h3>Would you like to import some existing questions?</h3>\n' +
                        '                <label>\n' +
                        '                    <select name="choose" onChange="seleziona_tag(this)">\n' +
                        '                        <option value="" selected> </option>\n' +
                        '                        <option value="si">Yes</option>\n' +
                        '                        <option value="no">No</option>\n' +
                        '                    </select>\n' +
                        '                </label>'
                } else if(v_c === "possible_a") {
                    box.innerHTML = '<h3>How many possible answers do you want to put?</h3>\n' +
                            '        <input id="n" type="text" class="form-control" id="number_answers" name="number_answers" value="{{number}}" onkeyup="possibili_risposte(this)"><br><br>';
                    possibili_risposte(document.getElementById('n'))
                    submit_f()
                }
            }

            function seleziona_tag(choose) {
                v_choose = choose.value;
                var box = document.getElementById('seleziona tag');
                var box2 = document.getElementById('nuovo tag');
                var box3 = document.getElementById('seleziona tipo di domanda');
                var box4 = document.getElementById('inserisci domanda');
                var box5 = document.getElementById('mostra domanda');
                var box6 = document.getElementById('inserisci possibili risposte');
                var box7 = document.getElementById('submit');
                box2.innerHTML = '';
                box3.innerHTML = '';
                box4.innerHTML = '';
                box5.innerHTML = '';
                box6.innerHTML = '';
                box7.innerHTML = '';

                if (v_choose === "si") {
                    box.innerHTML = '<h3>Select the question tag argument</h3>' +
                        '<select name="tag_choose" onChange="inserisci_domanda(this)">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.argument}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '            </select>';
                } else if(v_choose === "no") {
                    box.innerHTML = '<h3>Select the question tag argument</h3>' +
                        '<select name="tag_choose" onChange="nuovo_tag(this); tipo_domanda()">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.argument}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '                <option value="nuovo">New Argument</option>\n' +
                        '            </select>';
                }
            }

            function nuovo_tag(tag_choose) {
                var v_tag = tag_choose.value;
                var box = document.getElementById('nuovo tag');
                var box2 = document.getElementById('inserisci domanda');
                var box5 = document.getElementById('mostra domanda');
                var box3 = document.getElementById('inserisci possibili risposte');
                var box4 = document.getElementById('submit');
                box2.innerHTML = '';
                box3.innerHTML = '';
                box4.innerHTML = '';
                box5.innerHTML = '';
                if (v_tag === "nuovo") {
                    box.innerHTML = '<h3>Insert the new tag argument</h3>' +
                        '<input type="text" class="form-control" id="tag_aggiunto" name="tag_aggiunto"><br><br>';
                } else {
                    box.innerHTML = '';
                }
            }

            function tipo_domanda() {
                var box = document.getElementById('seleziona tipo di domanda');
                var box2 = document.getElementById('inserisci domanda');
                var box5 = document.getElementById('mostra domanda');
                var box3 = document.getElementById('inserisci possibili risposte');
                var box4 = document.getElementById('submit');
                box2.innerHTML = '';
                box3.innerHTML = '';
                box4.innerHTML = '';
                box5.innerHTML = '';
                if (v_choose === "no") {
                    box.innerHTML = '<h3>Select a question type</h3>' +
                        '<label>\n' +
                        '                <select name="tipo_domanda" onChange="inserisci_domanda(this)">\n' +
                        '                    <option value="" selected> </option>\n' +
                        '                    <option value="open">Open</option>\n' +
                        '                    <option value="single">Single</option>\n' +
                        '                    <option value="multiple_choice">Multiple choice</option>\n' +
                        '                </select>\n' +
                        '            </label>';
                } else {
                    box.innerHTML = '';
                }
            }

            function inserisci_domanda(tipo) {
                var box = document.getElementById('inserisci domanda');
                var box2 = document.getElementById('inserisci possibili risposte');
                var box3 = document.getElementById('submit');
                var box4 = document.getElementById('mostra domanda');
                box2.innerHTML = '';
                box3.innerHTML = '';
                box4.innerHTML = '';
                if (v_choose === "no") {
                    var tipo = tipo.value;
                    if(tipo === 'open')
                        box.innerHTML = '<h3>Insert the question text</h3>' +
                        '<input type="text" class="form-control" id="text_question" name="text_question" onKeyUp="submit_f()"><br><br>';
                    if(tipo === 'single' || tipo === 'multiple_choice'){
                        box.innerHTML = '<h3>Insert the question text</h3>\n' +
                            '            <input type="text" class="form-control" id="text_question" name="text_question"><br><br>' +
                            '            <h3>How many possible answers do you want to put?</h3>' +
                            '            <input type="text" class="form-control" id="number_answers" name="number_answers" onKeyUp="possibili_risposte(this); submit_f()"><br><br>';
                    }
                } else {
                    var tag = tipo.value;
                    var str = '<h3>Select the question</h3>' +
                        '<select name="question_choose" onChange="mostra_domanda(this); submit_f()">\n'+
                        '<option value="" selected> </option>\n';
                    {% for q in questions %}
                        {% for t in q.tags %}
                            if( '{{t.argument}}' === tag){
                                {% if q not in form.questions%}
                                    str +='<option value="{{q.id}}">{{q.text}}</option>\n';
                                {% endif %}
                            }
                        {% endfor %}
                    {% endfor %}

                    str +='</select>';
                    box.innerHTML = str;
                }

            }
            function mostra_domanda(id) {
                var box = document.getElementById('mostra domanda');
                var id_q = id.value;
                {% for q in questions %}
                    if({{q.id}} == id_q){
                        box.innerHTML = '<p><b>Question Peview:</b><br>{{q.text}}</p>\n'+
                        '            {% if q.single %}\n' +
                        '                {% for q1 in q.single%}\n'+
                        '                    <ul>\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% elif q.multiple_choice %}\n' +
                        '                {% for q1 in q.multiple_choice%}\n' +
                        '                    <ul type="square">\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% endif %}\n' +
                            '<br>';
                    }
                {% endfor %}
            }

            function possibili_risposte(number) {
                var box = document.getElementById('inserisci possibili risposte');
                var v_number = number.value;
                if(v_number===""){
                    box.innerHTML='';
                }else{
                    if(isNaN(v_number)===true){
                        box.innerHTML='';
                    }else{
                        var righe = "";
                        var i=1;
                        {% if edit %}
                            {% if q.single %}
                                {% for q1 in q.single%}
                                    {% for a in q1.possible_answers%}
                                        if(i<=v_number) {
                                            righe = righe + "Risposta n° " + i + " : <input class = 'form-control' type='text' value='{{a.content}}' name='" + i + "'/><br/>";
                                            i++;
                                        }
                                    {% endfor %}
                                {% endfor %}
                            {% elif q.multiple_choice %}
                                {% for q1 in q.multiple_choice%}
                                    {% for a in q1.possible_answers%}
                                        if(i<=v_number) {
                                            righe = righe + "Risposta n° " + i + " : <input class = 'form-control' type='text' value='{{a.content}}' name='" + i + "'/><br/>";
                                            i++;
                                        }
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        for(i; i<=v_number; i++){
                            righe = righe + "Risposta n° "+i+" : <input class = 'form-control' type='text' name='"+i+"'/><br/>";
                        }
                        box.innerHTML=righe;
                    }
                }
            }

            function submit_f() {
                var box = document.getElementById('submit');
                box.innerHTML = '<input type="submit" value="Submit" class="btn btn-primary"><br><br>'
            }
        </script>
{% endblock %}