{% extends "/security/base.html" %}
{% block title %}Forms Answers{% endblock %}

{% block content %}
    <!--INTERACTIVE FORM EDIT:
        Possibile Answers-> number and content of possible answers-> Submit
        Question-> Import -> Choose Tag -> Choose question -> Show previe question -> Submit
        Question-> Not Import -> Choose Tag -> Eventually create Tag -> Type question -> Text Question -> Eventually number and content of possible answers -> Submit

        ADD:
        Import -> Choose Tag -> Choose question -> Show previe question -> Submit
        Not Import -> Choose Tag -> Eventually create Tag -> Type question -> Text Question -> Eventually number and content of possible answers -> Submit
        -->
    <form name="import_choose" action="#" method="POST">
        <div class="container">

            {%if edit%}
                <p><b>The current question is:</b><br>{{q.text}}</p>

                {% if q.single %}
                    {% for q1 in q.single%}
                    <ul>
                        {% for a in q1.possible_answers%}
                            <li >{{a.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}

                {% elif q.multiple_choice %}
                    {% for q1 in q.multiple_choice%}
                    <ul type="square">
                        {% for a in q1.possible_answers%}
                            <li >{{a.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                {% endif %}
                <br>
            {%endif%}

            {% if not edit or q.open%}
                <h3>Would you like to import some existing questions?</h3>
                <label>
                    <select name="choose" onChange="seleziona_tag(this)">
                        <option value="" selected> </option>
                        <option value="si">Yes</option>
                        <option value="no">No</option>
                    </select>
                </label>

                <span id="obbligo">
                    <h3>This question would be mandatory?</h3>
                    <input type="checkbox" name="mandatory"><br><br>
                </span>
            {% elif q.multiple_choice or q.single %}
                <h3>What would you like to change?</h3>
                <label>
                    <select name="change" onChange="check(this)">
                        <option value="" selected> </option>
                        <option value="question">Question</option>
                        <option value="mandatory">Mandatory</option>
                        <option value="possible_a">Possible Answers</option>
                    </select>
                </label>
            {% endif %}


            <span id="modifica"></span>

            <span id="seleziona tag"></span>

            <span id="nuovo tag"></span>

            <span id ="seleziona tipo di domanda"></span>

            <span id="inserisci domanda"></span>

            <span id="inserisci file"></span>

            <span id ="mostra domanda"></span>

            <span id="inserisci possibili risposte"></span>

            <span id="submit">

            </span>
        </div>
    </form>


    	<script type='text/javascript'>
            let v_choose = null;
            let n = 0;
            /*vuoi importare domande?, oppure numero possibili risposte*/
            function check(c) {
                n = 0;
                const v_c = c.value;
                const box = document.getElementById('modifica');
                document.getElementById('seleziona tag').innerHTML = '';
                document.getElementById('nuovo tag').innerHTML = '';
                document.getElementById('seleziona tipo di domanda').innerHTML = '';
                document.getElementById('inserisci domanda').innerHTML = '';
                document.getElementById('inserisci file').innerHTML = '';
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_c === "question") {
                    box.innerHTML = '<h3>Would you like to import some existing questions?</h3>\n' +
                        '                <label>\n' +
                        '                    <select name="choose" onChange="seleziona_tag(this)">\n' +
                        '                        <option value="" selected> </option>\n' +
                        '                        <option value="si">Yes</option>\n' +
                        '                        <option value="no">No</option>\n' +
                        '                    </select>\n' +
                        '                </label>'
                } else if(v_c === "possible_a") {
                    box.innerHTML = '<h3>How many possible answers do you want to put?</h3>\n' +
                            '        <input id="n" type="text" class="form-control" name="number_answers" value="{{number}}" onkeyup="possibili_risposte(this)"><br><br>';

                    /*necessarie per creare di default il tasto submit e le risposte esistenti*/
                    possibili_risposte(document.getElementById('n'))
                    submit_f(document.getElementById('n'))
                } else if(v_c === "mandatory") {
                    box.innerHTML = '<h3>This question would be mandatory?</h3>\n' +
                        '            <input type="checkbox" name="mandatory"><br><br>';

                    document.getElementById('submit').innerHTML = '<input type="submit" value="Submit" class="btn btn-primary"><br><br>';
                }
            }

            /*menu a tendina con tutti i possibili tag*/
            function seleziona_tag(choose) {
                v_choose = choose.value;
                const box = document.getElementById('seleziona tag');
                document.getElementById('nuovo tag').innerHTML = '';
                document.getElementById('seleziona tipo di domanda').innerHTML = '';
                document.getElementById('inserisci domanda').innerHTML = '';
                document.getElementById('inserisci file').innerHTML = '';
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_choose === "si") {
                    box.innerHTML = '<h3>Select the question tag argument</h3>' +
                        '<select name="tag_choose" onChange="inserisci_domanda(this)">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.argument}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '            </select>';
                } else if(v_choose === "no") {
                    box.innerHTML = '<h3>Select the question tag argument</h3>' +
                        '<select name="tag_choose" onChange="nuovo_tag(this); tipo_domanda(this)">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.argument}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '                <option value="nuovo">New Argument</option>\n' +
                        '            </select>';
                }
            }

            /*se non import input text per nuovo tag*/
            function nuovo_tag(tag_choose) {
                const v_tag = tag_choose.value;
                const box = document.getElementById('nuovo tag');
                document.getElementById('seleziona tipo di domanda').innerHTML = '';
                document.getElementById('inserisci domanda').innerHTML = '';
                document.getElementById('inserisci file').innerHTML = '';
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_tag === "nuovo") {
                    box.innerHTML = '<h3>Insert the new tag argument</h3>' +
                        '<input type="text" class="form-control" name="tag_aggiunto"><br><br>';
                } else {
                    box.innerHTML = '';
                }
            }

            /*se non timport menu a tendina per il tipo della domanda*/
            function tipo_domanda(val) {
                const box = document.getElementById('seleziona tipo di domanda');
                document.getElementById('inserisci domanda').innerHTML = '';
                document.getElementById('inserisci file').innerHTML = '';
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_choose === "no" && val.value !== "") {
                    box.innerHTML = '<h3>Select a question type</h3>' +
                        '<label>\n' +
                        '                <select name="tipo_domanda" onChange="inserisci_domanda(this)">\n' +
                        '                    <option value="" selected> </option>\n' +
                        '                    <option value="open">Open</option>\n' +
                        '                    <option value="single">Single</option>\n' +
                        '                    <option value="multiple_choice">Multiple choice</option>\n' +
                        '                </select>\n' +
                        '            </label>';
                } else {
                    box.innerHTML = '';
                }
            }

            /*menu a tendina per selezionare domanda nel caso di import
            * Testo della domanda + eventuale numero possibili risposte se non import*/
            function inserisci_domanda(type) {
                const box = document.getElementById('inserisci domanda');
                document.getElementById('inserisci file').innerHTML = '';
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML='';

                if (v_choose === "no" && type.value !== "") {
                    let tipo = type.value;
                    if(tipo === 'open')
                        box.innerHTML = '<h3>Insert the question text</h3>' +
                        '<input type="text" class="form-control" name="text_question" onKeyUp="inserisci_file(); submit_f(this)"><br><br>';
                    if(tipo === 'single' || tipo === 'multiple_choice'){
                        box.innerHTML = '<h3>Insert the question text</h3>\n' +
                            '            <input type="text" class="form-control" name="text_question"><br><br>' +
                            '            <h3>How many possible answers do you want to put?</h3>' +
                            '            <input type="text" class="form-control" name="number_answers" onKeyUp="possibili_risposte(this); submit_f(this)"><br><br>';
                    }
                } else if(v_choose === "si" && type.value !== ""){
                    const tag = type.value;
                    let str = '<h3>Select the question</h3>' +
                        '<select name="question_choose" onChange="mostra_domanda(this); submit_f(this)">\n' +
                        '<option value="" selected> </option>\n';

                    {% for q1 in questions %}
                        {% for t in q1.tags %}
                            if( '{{t.argument}}' === tag){
                                {%if (edit and q1.id == q.id) or (q1 not in form.questions)%}
                                    str +='<option value="{{q1.id}}">{{q1.text}}</option>\n';
                                {% endif %}
                            }
                        {% endfor %}
                    {% endfor %}

                    str +='</select>';

                    box.innerHTML = str;
                }

            }
            /*Selezione se aggiungere o no un file*/
            function inserisci_file(){
                const box = document.getElementById('inserisci file');
                document.getElementById('mostra domanda').innerHTML = '';
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML='';

                let str = '<h3>Would you like to allow the possibility to add files for this question?</h3>' +
                        '<select name="file_choose">\n' +
                        '<option value="no" selected>No</option>\n'+
                        '<option value="si">Yes</option></select>\n';

                box.innerHTML = str;
            }


            /*Mostra la domanda nel caso di import*/
            function mostra_domanda(id) {
                const id_q = id.value;

                const box = document.getElementById('mostra domanda');
                document.getElementById('inserisci possibili risposte').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML=''

                {% for q in questions %}
                    if({{q.id}} == id_q){
                        box.innerHTML = '<p><b>Question Peview:</b><br>{{q.text}}</p>\n'+
                        '            {% if q.single %}\n' +
                        '                {% for q1 in q.single%}\n'+
                        '                    <ul>\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% elif q.multiple_choice %}\n' +
                        '                {% for q1 in q.multiple_choice%}\n' +
                        '                    <ul type="square">\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% endif %}\n' +
                            '<br>';
                    }
                {% endfor %}
            }

            function possibili_risposte(number) {
                const v_number = number.value;
                const box = document.getElementById('inserisci possibili risposte');
                document.getElementById('submit').innerHTML = '';
                box.innerHTML=''

                if(isNaN(v_number)===true){
                    box.innerHTML='';
                }else{
                    let righe = "";
                    let i = 1;
                    {% if edit %}
                        {% if q.single %}
                            {% for q1 in q.single%}
                                {% for a in q1.possible_answers%}
                                    if(i<=v_number) {
                                        righe = righe + "Risposta n° " + i + " : <input onchange='submit_f(this)' class = 'form-control' type='text' value='{{a.content}}' id='" + i + "' name='" + i + "'/><br/>";
                                        i++;
                                    }
                                {% endfor %}
                            {% endfor %}
                        {% elif q.multiple_choice %}
                            {% for q1 in q.multiple_choice%}
                                {% for a in q1.possible_answers%}
                                    if(i<=v_number) {
                                        righe = righe + "Risposta n° " + i + " : <input onchange='submit_f(this)' class = 'form-control' type='text' value='{{a.content}}' id='" + i + "' name='" + i + "'/><br/>";
                                        i++;
                                    }
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    for(i; i<=v_number; i++){
                        righe = righe + "Risposta n° "+i+" : <input onchange='submit_f(this)' class = 'form-control' type='text' id='" + i + "' name='"+i+"'/><br/>";
                    }
                    n = v_number
                    box.innerHTML=righe;
                }
            }


            let vett = new Array(n);
            function submit_f(val) {
                const box = document.getElementById('submit');
                box.innerHTML = '';

                /*Function that returns duplicates of an array*/
                let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) !== index)

                /*array that contains possible answers without spaces and symbols*/


                for(let i=1; i<=n; i++){
                    let campo = document.getElementById(i.toString()).value
                    vett[i]='';

                    /*if we find a possibile answers blank*/
                    if(campo === "" ) {
                        box.innerHTML = '<h5>You cannot put blank anwers</h5>'
                        return;
                    }

                    /*if we find an answers with no number and no letter*/
                    let find = false;
                    let k = campo.length;
                    while ((k--)) {
                      if(( campo.charAt(k) >= 'A' && campo.charAt(k) <= 'z') ||( campo.charAt(k) >= '0' && campo.charAt(k) <= '9')) {
                          find = true;
                          vett[i] += campo.charAt(k);
                      }
                    }

                    if(!find){
                        box.innerHTML = '<h5>Each possible answers must have at least one letter or number</h5>'
                        return;
                    }

                }

                /*if we find a duplicate of a possible answers*/
                if(findDuplicates(vett).length !== 0){
                    box.innerHTML = '<h5>Cannot exists two answers with the same letters and numbers excluding spaces and symbols</h5>'
                    return;
                }

                if (val.value !== "")
                    box.innerHTML = '<input type="submit" value="Submit" class="btn btn-primary"><br><br>'
            }


        </script>

{% endblock %}