{% extends "login.html"%}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}
{% block content %}

    <h2>{{ _fsdomain('Login') }}</h2>
    <form class="user" action="{{ url_for_security('login') }}" method="POST" >
        {{ login_user_form.hidden_tag() }}
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.email, class="form-control form-control-user",id="exampleInputEmail",placeholder="Enter Email Address...") }}
        </div>
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.password, class="form-control form-control-user", id="exampleInputPassword", placeholder="Password") }}
        </div>
        <div class="form-group">
                {{ render_field_with_errors(login_user_form.remember) }}
        </div>
        {{ render_field_errors(login_user_form.csrf_token) }}
        {{ render_field(login_user_form.submit, class="btn btn-primary btn-user btn-block") }}
        <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
{% endblock %}

</body>
</html>

