{% extends "/security/base.html" %}
{% block title %}Forms{% endblock %}

{% block content %}

    <div class="container">
    <h1>Welcome {{user.name}}</h1>
        <h4>This is the list of the form you created</h4><br>
    </div>

    <div class="container">
        {% for f in forms %}
        <li><a href="/form/{{f.id}}/viewform">{{f.name}}</a>&nbsp;&nbsp;&nbsp;
            <a href="/form/{{f.id}}/edit"><button type="button" class="btn btn-primary">EDIT</button></a>&nbsp;&nbsp;&nbsp;
            <a href="/form/{{f.id}}/answers"><button type="button" class="btn btn-primary">ANSWERS</button></a>
        </li>
        <br><br>
        {% endfor %}
    </div>
    <div class="container">
        <a href="/form/form_create"><button type="button" class="btn btn-primary">CREA FORM</button></a>
        <br><br>
    </div>
    <br><br><br>
{% endblock %}