{% extends "/security/base.html" %}
{% block title %}Forms Answers{% endblock %}
{% block libs%}<script src="/static/js/chart.js/dist/chart.js"></script>{%endblock%}
{% block content %}

    <div class="container">
    <h1>Welcome {{user.name}}</h1>
        <h4>This is the list of Answer of the form: {{form.name}}</h4><br>
        <h6>Number of people compiling the form: {{total_answers}}</h6>
    </div>

    <div class="container">
        {% for q in form.questions %}
            <h5>{{q.text}}</h5>
            {% for a in answers%}
                {% if a.question_id == q.id%}
                    <li>
                        <b>Username: {{a.user.username}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for t in a.text %}
                            {{t.content}}; &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </li>

                {% endif %}
            {% endfor %}
            {% if q.single %}
                <canvas id={{q.id}} width="300" height="300"></canvas>
                <script>
                    var ctx = document.getElementById( {{q.id}} ).getContext("2d");
                    /*crea variabili contatori per ogni tipo ri risposta*/
                    {% for q1 in q.single %}
                        {% for x in q1.possible_answers %}
                            var {{x.content}} = 0
                        {% endfor %}
                    {% endfor %}

                    /*aumenta i contatori in base al numero di risposte date*/
                    {% for a in answers%}
                        {% if a.question_id == q.id%}
                            {% for t in a.text %}
                                {{t.content}}++;
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            /*le labels sono i tipi di possibili risposte*/
                            labels: [{% for q1 in q.single %}{% for x in q1.possible_answers %}'{{x.content}}', {% endfor %}{% endfor %}],
                            datasets: [{
                                label: '{{q.text}}',
                                /*richiama le variabili*/
                                data: [{% for q1 in q.single %}{% for x in q1.possible_answers %}{{x.content}}, {% endfor %}{% endfor %}],
                                borderWidth: 1,
                                backgroundColor: ['Green','Red','Blue','Purple','Orange','Yellow']
                            }]
                        },
                        options: {
                            responsive: false,
                            maintainAspectRatio: false
                        }
                    });
                </script>
            {% endif %}
            {% if q.multiple_choice %}
                <canvas id={{q.id}} width="300" height="300"></canvas>
                <script>
                    var ctx = document.getElementById( {{q.id}} ).getContext("2d");
                    /*crea variabili contatori per ogni tipo ri risposta*/
                    {% for q1 in q.multiple_choice %}
                        {% for x in q1.possible_answers %}
                            var {{x.content}} = 0
                        {% endfor %}
                    {% endfor %}

                    /*aumenta i contatori in base al numero di risposte date*/
                    {% for a in answers%}
                        {% if a.question_id == q.id%}
                            {% for t in a.text %}
                                {{t.content}}++;
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            /*le labels sono i tipi di possibili risposte*/
                            labels: [{% for q1 in q.multiple_choice %}{% for x in q1.possible_answers %}'{{x.content}}', {% endfor %}{% endfor %}],
                            datasets: [{
                                label: '{{q.text}}',
                                /*richiama le variabili*/
                                data: [{% for q1 in q.multiple_choice %}{% for x in q1.possible_answers %}{{x.content}}, {% endfor %}{% endfor %}],
                                borderWidth: 1,
                                backgroundColor: ['Green','Red','Blue','Purple','Orange','Yellow','Black']
                            }]
                        },
                        options: {
                            responsive: false,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    labels: {
                                        boxWidth: 0,
                                    }
                                }
                            }
                        }
                    });
                </script>
            {% endif %}
        <br><br>
        {% endfor %}
    </div>
    <br><br><br>
{% endblock %}