{% extends "/security/base.html" %}
{% block title %}HomePage{% endblock %}
{% block main_title %}HomePage{% endblock %}

{% block content %}
    <div class="container">
    <h1>Welcome {{user.name}}</h1>
        <h4>Here there are all the useful links:</h4><br>
        <a href="/profile"><button type="button" class="btn btn-primary">PROFILE</button></a><br><br><br>
        <a href="/form"><button type="button" class="btn btn-primary">FORM</button></a><br><br><br>
        {%if current_user.is_anonymous: %}
        <a href="/login"><button type="button" class="btn btn-primary">LOGIN</button></a><br><br><br>
        <a href="{{ url_for_security('register') }}"><button type="button" class="btn btn-primary">REGISTER</button></a><br><br><br>
        {%endif%}
        <!--
        <a href="{{ url_for_security('send_confirmation') }}"><button type="button" class="btn btn-primary">CONFIRM EMAIL</button></a><br><br><br>
        -->
        {%if current_user.is_authenticated: %}
        <a href="/logout"><button type="button" class="btn btn-primary">LOGOUT</button></a><br><br><br>
        {%endif%}
    </div>
    <br><br>
{% endblock %}
