{% extends "/security/base.html" %}
{% block title %}User Profile{% endblock %}

{% block content %}
    <div class="container">
    <h1>Welcome {{user.name}}</h1>
        <h4>These are your profile information</h4><br>
    </div>

    <div class="container">
        <p><b>Name:</b> {{user.name}}</p>
        <p><b>Surname:</b> {{user.name}}</p>
        <p><b>Birthday Date:</b> {{user.date}}</p>
        <p><b>Username:</b> {{user.username}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><a href="/edit_profile/">Edit Profile</a>
    </div>
{% endblock %}