# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Andrea\Desktop\Andrea\Università\II Anno\2° Semestre\Basi di Dati\Progetto\ProgettoBDD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
